.d-block {
  width: 600px;
  height: 600px;
}
#link_to_site,#link_to_github{
  text-align: center;
}
.Top_container_fluid{
 background-image: url("../images/Top_Background1.jpg");
 padding-bottom: 10%;
  background-size: 100%;
}
.Middle_container_2{
background-image: url("../images/Skills_Background.jpg");
 background-size: 100%;
}
.End_container{
  background-image: url("../images/Skills_Background.jpg");
  background-size: 100%;
}
.footer_container{
  background-image: url("../images/Footer.jpg");
  background-size: 100%;
}
.display-1{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
#skillLink,#projectLink,#contactLink {
     font-size: 160%
}
#Projects{
  opacity: 1.0;
}
.display-4{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.lead,.list-group-item{
    font-family: 'Karla', sans-serif;
    font-size: 150%;
}
#Full_Name_Start{
  text-align: left;
}
.flex{
  display:flex;
  justify-content: center;
  align-items: center;
}
#test{
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}